@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section{
    padding:  100px;
}

.banner{
    position: relative;
    min-height: 100vh;
    /* background: url(banner.jpeg); */
    background-color: #2196f3;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner h2{
    font-size: 3em;
    color: white;
    font-weight: 700;
    line-height: 1.5em;
}


.banner h3{
    font-size: 2em;
    color: white;
    font-weight: 500;
    line-height: 1.5em;   
}

.btn{
    position: relative;
    background: #2196F3;
    display: inline-block;
    color: white;
    margin-top: 20 px;
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 500px;
    border: 1px solid white;
    border-color: honeydew;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: white;
    padding: 20px, 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

header .logo{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

header.sticky .logo{
    color: black;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    color: white;
    text-decoration: none;
}

header.sticky ul li a{
    color: black;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

.heading h2{
    font-weight: 600;
    font-size: 30px;
}

.content{
    display: flex;
    justify-content: space-between;
}
.contentBox{
    padding-right: 30px;
}
.contentBox h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.w50{
    min-width: 50%;
}

img{
    max-width: 100%;
    display: flex;
    justify-content: right;
}

.services{
    background: black;
}

.heading.white{
    color: white;
}

.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .servicesBox{
    padding: 50px 25px;
    margin: 20px;
    background: #222;
    color: white;
    max-width: 340px;
    text-align: center;
    transition: 0.5px;

}

.services .content .servicesBox img{
    justify-content: space-around;
    max-width: 80px;
    filter: invert(1)
}

.services .content .servicesBox:hover{
    background: #2196f3
}

.services .content .servicesBox h2{
    font-size: 20px;
    font-weight: 1000;
}

.projects .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects .content .projectsBox{
    width: 50%;
    padding: 20px;
}

.projects .content .projectsBox img{
    max-width: 100%;
}

.projects .content .projectsBox a {
    justify-content: center;
}

.contact{
    background: black
}

.formBox{
    min-width: 65%;
}

.formBox form{
    display: flex;
    flex-direction: column;
}

.formBox form h3, .contactInfo{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.formBox form input, .formBox form input textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px; 
    background: transparent;
    background: rgb(54, 54, 54);
    outline: none;
    border: none;
    color: white;
}

.formBox form textarea{
    min-height: 200px;
}

.formBox form input::placeholder
.formBox form textarea::placeholder{
    color: grey;
}

.formBox form input[type= "submit"]{
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
}

.contactInfo{
    min-width: 40%;
}

.contactInfoBox{
    position: relative;
}

.contactInfoBox .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBox .box .icon{
    min-width: 40px;
    padding-top: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.contactInfoBox .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 15px;
    color: white;
    flex-direction: column;
    font-weight: 500;
    text-align: justify;
}

.contactInfoBox .box .text h3{
    color: #2196f3;
    margin-bottom: 0px;
    font-weight: 500
}

@media (max-width: 990px)
{
    header,
    header.sticky{
        padding: 20px 50px;
    }
    
    .menu{
        position: fixed;
        top: 70px;
        left: 0;
        display: block;
        padding: 100px, 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: white;
        transition: 0.5s;
        z-index: 999; 
        border-top: 1px solid rgba(0,0,0,0.1)
    }
    
    header ul li a{
        color: black;
    }

    .toggle{
        width: 40px;
        height: 40px;
        background: url(menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
}